@font-face {
  font-family: 'Netflix';
  src: url(BebasNeue.otf);
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}
header {
  background-color: #E50914;
  padding: 4rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
}

.backgroundPic {
  background-image: url("popcornpic.jpg") repeat-y;
  opacity: .6;
  z-index: -100;
  position: absolute;
  width: 100%;
  border: 2px solid white;
}

h1 {
  display:flex;
  justify-content: center;
  font-family:'Netflix', sans-serif;
  font-size: 50px;
  margin: 0;
  padding:0;
}

p {
  margin: 0;
  padding: 10px;
}

button {
  font-family: 'Netflix';
  padding:10px;
  font-size: 20px;
  }

.loaders {
  display: flex;
  justify-content: center;
  margin: 0 2rem 0 2rem;
}

.drinkReq {
  line-height: 30px;
}

.chillTitle {
  padding-left: 1rem;
}

.netflixSubGroup {
  font-family: 'Netflix';
  font-size: 18px;
  padding: 0 2rem 0 2rem;
  width: 30%;
  margin-top: 2rem;
  text-align: center;


}
.movieName {
  font-family: 'Netflix';
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.moviePoster {
  max-width: 300px;
  max-height: 300px;
}

.drinkPic {
  max-width: 300px;
  max-height: 300px;
}
